/* CSS RESET */
body {
	margin: 0;
	padding: 0;
	background-color: #FBCEB1;
	font-family: "Lora", serif;
}

#wrapper {
	padding: 4px;
	margin: 20px;
	background-color: linen;
	
	
}
 
 


nav {
	text-align: center;
	
	
	
}


nav a {
	text-decoration: none;
	color: #000000;
	text-align: center;
	font-weight: bold;
	
}

main {
	text-align: center
	
	
}

main p {
	line-height: 1.5;
	
}

main li {
	line-height: 1.5;
	
}

table, th, td {
	border:1px solid;
	margin: auto;
	width: 50%;
}
 

footer {
	text-align: center;
	
}

img {
	max-width: 100%;
	display: block;
	
	
}







h1 {
	text-align: center;
	
	
}


/* Style rules for the mobile viewport */
@media screen and (max-width: 768px), print {
 
 nav ul {
	 padding: 3px;
	 margin: 5px;
	list-style-type: none;
	
}

nav li  {
	padding: 2px;
	margin: 2px;
	display: inline;
	
}


video {
	max-width: 100%;
	
}
 nav a{
	 font-size: 1.25em;
 }

#mobile-size{
	text-align: left;
	
	
}

#yoga-class {
	text-align: center;
	
	
}

h3 {
	text-align: center;
	
}

	.yoga-image {
		display: block;
		max-width: 100%;
		margin: auto;
		
	}
}




 


/* Style rules for the tablet viewport */
@media screen and (max-width: 1024px), print {
	

	
	
nav a {
	padding: 3px;
	margin: 20px;
	font-size: 1.75em;
	
}


main ul {
	list-style-type: none;
	
}

.mobile-only {
    display: none;
  }
	
	
	
video {
	width: 450px;
	height: 300px;
	
}

nav a:hover {
	background-color: #ffffff;
	
}
 nav li  {
		list-style-type: none;
		display: inline
			
	}
	
	.yoga-image {
		display: block;
		max-width: 100%;
		margin: auto;
		
	}
}


/* Style rules for the desktop viewport */
@media screen and (max-width: 1920px), print {
	
	
	
main ul {
	list-style-type: none;
	
}

.mobile-only {
    display: none;
  }

video {
	display: block;
	margin: auto;
	
	
}

nav a:hover {
	background-color: #ffffff;
	
}


nav a {
	font-size: 2em;
	margin: 5px;
	padding: 5px;
	
}
	
main {
		font-size: 1.25em;
		
		
	}
	
	nav li {
		list-style-type: none;
		padding: 4px;
		margin: 4px;
		display: inline;
		
	}
	
	.yoga-image {
		display: block;
		max-width: 40%;
		margin: auto;
	}
}


